*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
 background-color: #000000;
 color: rgb(135, 210, 212);
}
p{
    color: white;
    font-family: monospace;
    font-size: 15px;
}
.header{
    background-color: #222;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #32b9cd;
}
.container {
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    list-style: none;
}
.navbar li{
    margin-right: 10px;
    color: rgb(194, 101, 248);
}
.banner {
    height: 360px;
    background-image: url("imagens/bg-jelly-fish-para_outras_pags.png") ;
}
.banner .container{
    justify-content: center;
}
.banner .container p{
    font-size: 30px;
    width: 400px;
    text-align: center;
}
img{
    background-color: #222;
    border-radius: 70px;
}
.social{
    height: 400px;
    background-color: #000000;
    padding: 40px;
}
.social .container .card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    height: 350px;
    justify-content: space-evenly;
}
.social .container .card img {
    width: 150px;
}
